* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  margin: 0; }

ul, ol {
  padding: 0;
  list-style: none; }

.radio,
.hotList {
  margin: 8px 0 8px 8px; }
  .radio .title,
  .hotList .title {
    font-size: 16px;
    color: #000;
    margin-bottom: 8px; }
  .radio .list,
  .hotList .list {
    display: flex;
    flex-wrap: wrap; }
    .radio .list .listItem,
    .hotList .list .listItem {
      background: white;
      width: 40%;
      flex: 1;
      margin-right: 8px;
      margin-bottom: 10px; }
      .radio .list .listItem .listMedia,
      .hotList .list .listItem .listMedia {
        position: relative; }
        .radio .list .listItem .listMedia img,
        .hotList .list .listItem .listMedia img {
          display: block;
          width: 100%; }
        .radio .list .listItem .listMedia .icon-play,
        .hotList .list .listItem .listMedia .icon-play {
          position: absolute;
          right: 8px;
          bottom: 8px;
          width: 24px;
          height: 24px;
          background: url(../images/icon-play.png) no-repeat 0 0;
          background-size: cover; }
      .radio .list .listItem .listInfo,
      .hotList .list .listItem .listInfo {
        line-height: 18px;
        padding: 5px 7px 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 400;
        padding-bottom: 16px;
        font-size: 14px; }
      .radio .list .listItem .listAuthor,
      .hotList .list .listItem .listAuthor {
        margin-top: 4px;
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }

.header {
  display: flex;
  align-items: center;
  height: 44px;
  background: #30c27c; }
  .header h1 {
    display: none; }
  .header .logo {
    height: 26px;
    margin-left: 8px; }
  .header .download {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0 10px;
    line-height: 30px;
    right: 8px;
    display: inline-block;
    border-radius: 30px;
    position: absolute;
    cursor: not-allowed;
    user-select: none; }

.window {
  width: 100%;
  overflow: hidden; }
  .window > .slides {
    display: flex;
    transition: .3s; }
    .window > .slides .slidesItem > a {
      display: block; }
      .window > .slides .slidesItem > a > img {
        width: 100%;
        display: block;
        background-size: cover; }

.hide {
  display: none; }

.tabs ul {
  display: flex; }
  .tabs ul li {
    text-align: center;
    cursor: pointer;
    flex: 1;
    height: 40px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.6);
    position: relative; }
    .tabs ul li.active {
      color: #31c27c; }
    .tabs ul li.active::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: 0;
      left: 0;
      background: #31c27c; }

.toplistView .listItem {
  margin: 10px;
  height: 100px;
  width: 100%;
  background: #fff;
  font-size: 14px; }

.toplistView .picture {
  float: left;
  margin-right: 12px; }

.toplistView .picture img {
  display: inline-block;
  height: 100px;
  width: 100px;
  background: url(../images/yamaha.jpg) no-repeat 0 0;
  background-size: cover; }

.toplistView .content {
  margin-top: 4px;
  float: left;
  width: 240px; }

.toplistView .content .title {
  margin: 5px 0; }

.toplistView .content p {
  color: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.content p .name {
  color: black;
  margin-left: 4px; }

.searchBar {
  height: 56px;
  width: 100%;
  background: #e7e4e463;
  text-align: center;
  padding: 10px 24px; }
  .searchBar input {
    padding: 0.5em;
    height: 36px;
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: 1px solid #eee; }
    .searchBar input:focus {
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

.searchList .songItem {
  height: 55px;
  width: 100%;
  border-bottom: 1px solid #e5e5e5; }
  .searchList .songItem .icon {
    background: url(../images/search_sprite.png) no-repeat 0 0;
    background-size: cover;
    width: 20px;
    height: 18px;
    float: left;
    margin: 18.5px; }
  .searchList .songItem .songName {
    padding: 8px 0 2px;
    font-size: 16px;
    height: 30px; }
  .searchList .songItem .songSinger {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px; }

body {
  background: #f4f4f4; }
