.window {
  width: 100%;
  overflow: hidden; }
  .window > .slides {
    display: flex;
    transition: .3s; }
    .window > .slides .slidesItem > a {
      display: block; }
      .window > .slides .slidesItem > a > img {
        width: 100%;
        display: block;
        background-size: cover; }
