.header{
  display: flex;
  align-items: center;
  height: $header-height;
  background: $header-background;
  h1{display: none;}
  .logo{height: $logo-height;margin-left: 8px;}
  .playerButton{border: 1px solid rgba(0,0,0,.3);
    padding: 0 10px;
    line-height: 30px;
    right: 8px;
    display: inline-block;
    border-radius: 30px;
    position: absolute;
    user-select: none;
    cursor: pointer;
  }
}